body {
	background-color: #42AA33;
}
h1 {
	color: #22FFCC;
	font-family: sans-serif;
}
p {
	color: #000000;
	font-family: "Comic Sans MS";
	font-size: 11px;
}
#quote {
	color: red;
	font-family: "Papyrus";
	border-width: 2px;
	border-color: black;
	margin: auto;
	width: 50%;
	max-width: 100%;
}
.foo {
	font-size: 20px;
}
#lyrics {
	background-color: white;
	margin: 10px 0px 10px 0px;
	padding: 5px;
}
img {
	width: 1000px;
	height: 100px;
	float: right;
}